@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #5A189A;
    --color-secondary: #48BFE3;
}

body {
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    background-size: 500% auto;
    animation: fundo-animado 10s infinite alternate;
}

@keyframes fundo-animado{
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.container {
    background-color: #fff;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo {
    color: var(--color-primary);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.menu {
    display: flex;
    gap: 32px;
    font-size: 24px;
    list-style: none;
}

.botao-menu {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    padding: 12px 24px;
    border-radius: 16px;
    transition: 300ms;
}

.active {
    color: #fff;
    background: linear-gradient(
        to right, 
        var(--color-primary), 
        var(--color-secondary)
    );
}

.botao-menu:hover {
    color: #fff;
    background: linear-gradient(
        to right, 
        var(--color-primary), 
        var(--color-secondary)
    );
}

.hero {
    display: flex;
    height: calc(100vh - 90px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.hero div {
    flex: 1;
}

.hero img {
    max-height: 100%;
    max-width: 100%;
}

.slogan {
    font-size: 58px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.produtos {
    margin: 5% 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    background-color: white;
    flex: 1;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 5px 10px 24px #00000080;
}

.break {
    flex-basis: 100%;
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.card h2 {
    font-family: 'Bebas Neue', cursive;
    color: #333;
    font-size: 24px;
    margin: 12px 0;
}

.card p {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    text-align: justify;
    padding: 12px;
}

.contato {
    margin: 5% 10%;
}

.titulo {
    border-left: 8px solid #fff;
    padding-left: 24px;
    color: #fff;
    font-family: sans-serif;
}

.titulo h2 {
    font-size: 38px;
}

.titulo p {
    font-size: 24px;
}

.conteudo {
    margin-top: 24px;
    display: flex;
}

.mapa {
    flex: 6;
}

.mapa iframe {
    width: 100%;
    height: 300px;
}

.formulario {
    flex: 4;
    padding-left: 64px;
}

input, textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px 24px;
    border-radius: 6px;
    border: 0;
}

textarea {
    height: 140px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--color-primary);
    color: #fff;
    border: 0;
    border-radius: 6px;
    font-family: sans-serif;
    box-shadow: 4px 4px 6px #0006;
}

.telefone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: sans-serif;
    color: #fff;
    font-size: 24px;
    margin-top: 24px;
}

.telefone svg {
    width: 50px;
    height: 50px;
    fill: #fff;
}