* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #5A189A;
    --color-secondary: #48BFE3;
}

body {
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
}

.container {
    background-color: #fff;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo {
    color: var(--color-primary);
    font-size: 32px;
    font-weight: bold;
}

.menu {
    background-color: aqua;
    display: flex;
}